/*  重置浏览器默认样式   */
*{
    margin:0;
    padding:0;
    /* box-sizing: border-box; */
}


/*  全局样式   */
body{
    font-size: 16px;
    /* font-family: '-apple-system', 'SF UI Text', Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif; */
    font-family: Helvetica,Arial,PingFang SC,Hiragino Sans GB,Source Han Sans CN,Roboto,Microsoft Yahei,sans-serif;
    line-height: 28px;
}
.calendar{
    width:490px;
    border:5px solid red;
    overflow: hidden;
    margin:50px auto 0;
}
.flex{
    display: flex;
}
.col span{
    flex-basis: 70px;
    flex-grow: 1; /* 设置弹性项目占据剩余空间的比例 1*/
    text-align: center;
    height:40px;
}
/*  月   */
.month{
    text-align: center;
    height:100px;
    align-items: center;
    background-color: aquamarine;
}
.month .col{
    flex-grow: 1;
}
.month .col:nth-child(2){
    flex-grow: 6;
}

/*  周   */


/*  日   */
.days .col{
    flex-wrap: wrap;
}

